<!--

h2 { color: ; black; text-align: center;
     font-size: 20px;
}
h3 { color: white; text-align: center;
     font-size: 20px;
	 }

h4 { color: white; text-align: left;
     font-size: 20px;
	 }

p { color: blue ; text-align: center;
    font-size: 20px;
	 >
}

-->

#imgpos {
	position: absolute; 
	left: 90px; /* posiciona a 90px para a esquerda */ 
	top: 70px; /* posiciona a 70px para baixo */
	} /*Localização da foto camila */
#textopos {
	position: absolute; 
	left: 150px; /* posiciona a 90px para a esquerda */ 
	top: 70px; /* posiciona a 70px para baixo */
	} /*Localização da texto camila */


a{
        text-decoration: none;  /* controla a aparencia dos botos*/
        background-color: white;
        color: black;
        border: 10px solid black
        padding:30px 30px;
    }

.coluna{       /* controla as imagem do portfolio */ 
  float: left;
  width: 33.33%;
.row::after {
  content: "";
  clear: both;
  display: table;
}


@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}
	
	
	

