<!--

h2 { color: ; black; text-align: center;
     font-size: 20px;
}
h3 { color: white; text-align: center;
     font-size: 20px;
	 }

h4 { color: white; text-align: left;
     font-size: 20px;
	 }

p { color: blue ; text-align: center;
    font-size: 20px;
	 >
}

-->



#imgpos {
	position: absolute; 
	left: 90px; /* posiciona a 90px para a esquerda */ 
	top: 70px; /* posiciona a 70px para baixo */
	} /*Localização da foto camila */
#textopos {
	position: absolute; 
	left: 350px; /* posiciona a 90px para a esquerda */ 
	top: 70px; /* posiciona a 70px para baixo */
	} /*Localização da texto camila */
#inspos {
	position: absolute; 
	right: 100px; /* posiciona a 90px para a esquerda */ 
	top: 25px; /* posiciona a 70px para baixo */
	} /*Localização do instagra camila */

#twipos {
	position: absolute; 
	right: 25px; /* posiciona a 90px para a esquerda */ 
	top: 25px; /* posiciona a 70px para baixo */
	} /*Localização da twitter camila */

#barrapos {
	position: absolute; 
	right: 0px; 
	top: 0px; 
	} /*Localização da botao home camila */

#bota1pos {
	position: absolute; 
	right: 950px; 
	top: 280px; 
	} /*Localização da botao home camila */

#bota2pos {
	position: absolute; 
	right: 750px; 
	top: 280px; 
	} /*Localização da botao portfolio camila */
#bota3pos {
	position: absolute; 
	right: 550px; 
	top: 280px; 
	} /*Localização da botao contato camila */

a{
        text-decoration: none;  /* controla a aparencia dos botos*/
        background-color: black;
        color: white;
        border: 5px solid white; /**/
        padding:30px 30px;
    }

.coluna{       /* controla as imagem do portfolio */ 
  float: left;
  width: 33.33%;
.row::after {
  content: "";
  clear: both;
  display: table;
}


@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}
	
	
	

