<!--

h2 { color: ; black; text-align: center;
     font-size: 20px;
}
h3 { color: white; text-align: center;
     font-size: 20px;
	 }

p { color: blue ; text-align: center;
    font-size: 20px;
	 >
}

-->
a{
        text-decoration: none;
        background-color: white;
        color: black;
        border: 8px solid black
        padding:30px 30px;
    }
<body style= " background-color : #007fff;"
